body, html{
    margin:0;
    padding:0px;
    text-align:center;
    margin-bottom:15px;
    width: 100%;
    background-color: #316FC2;
}

header{
	display: block;
	background-color: #E6E6E6;
	text-align: center;
	margin-bottom: 20px;
	border-bottom: solid 5px;
	border-color: #000;   
	padding: 0.856rem;
	padding-bottom: 20px;
	overflow: hidden;
}
h1 > a{
	text-decoration: none;
	color: #31598A;
}
#logo{
	float: left;
	width: 800px;
	text-align: left;
}

@font-face {
	font-family: "LogoFonte";
	src: url("GistLight.otf");
}

#logo>h1{
	display: block;
	width: 100%;
	font: 70px/0 'LogoFonte',Verdana,Arial;
	margin-bottom: 60px;
}

.theme{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 15px;
	margin-left: 15px;
	background-color: #E6E6E6;
	display: inline-block;
	width: 300px;
	height:  300px;
	border-radius: 50%;
	padding: 10px;
}

.centreTheme{
	padding-top: 27px;
}

.centreTheme>a{
	text-decoration: none;
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
	color: #000000;
	font: 20px/0 Verdana,Arial;
	font-weight:bold;
}
.centreTheme>a>img{
	margin: 0 auto;
	display: block;
	width: 200px;
	border-radius: 50%;
	border: solid 5px;
  	border-color: #000000;

}

.affResto{
	display: block;
}

.Resto{
	vertical-align: middle;
	margin-top: 30px;
	margin-bottom: 5px;
	margin-right: 15px;
	margin-left: 15px;
	background-color: #E6E6E6;
	display: inline-block;
	width: 300px;
	height:  300px;
	border-radius: 50%;
	padding: 10px;
}

.centreResto{
	padding-top: 40px;
}

.centreResto>a{
	text-decoration: none;
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
	color: #000000;
	font: 20px/0 Verdana,Arial;
	font-weight:bold;
}
.centreResto>a>img{
	margin: 0 auto;
	display: block;
	width: 200px;
	border-radius: 50%;
	border: solid 5px;
  	border-color: #000000;

}

.descripResto{
	width: 500px;
	margin-top: 25px;
	vertical-align: middle;
	margin-left: -45px;
	display: inline-block;
	background-color: #E6E6E6;
	padding: 10px;
	height: 115px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 10px;
}

.descripResto>a{
	text-decoration: none;
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
	color: #000000;
	font: 20px/0 Verdana,Arial;
	font-weight:bold;
}

.affplat{
	padding: 20px;
	vertical-align: middle;
	margin: 0 auto;
	width: 750px;
	background-color: #E6E6E6;
	display: inline-block;
	border-radius: 20px;
}

.info{
	vertical-align: middle;
	display: inline-block;
	margin-right: 20px;
}

.info>div{
	text-align: left;
}

.image{
	padding: 10px;
	vertical-align: middle;
	display: inline-block;
}
.image>img{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: solid 5px;
  	border-color: #000000;
}

form{
	margin-top: 40px;
	color : #FFF;
	
}

#first{
	display: inline-block;
	vertical-align: middle;
	margin-right: 40px;
}

.saisie{
	width: 35px;
}

td{
	
	text-align: left;
	padding-left: 10px;
}

#second{
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
}

#valider{
	display: inline-block;
	vertical-align: middle;
	height: 100px;
	color : #FFF;
	background-color : #BC1200;
	border: 1px;
	border-bottom: solid 2px;
	border-radius: 30px;
  	border-color: #000000;
}

.panier{
	width: 700px;
	background-color : #BC1200;
	border-bottom: solid 5px;
  	border-color: #000000;
}

footer{
	background-color	: #BC1200;;
	position			: fixed;
	bottom				: 0;
	left				: 0;
	right				: 0;
	padding-top			: 5px;
	height				: 30px;
}

footer>p{
	text-align: left;
	margin-left: 20px;
	color: #FFF;
	text-decoration: none;
	font: 14px/0 Verdana,Arial;
	font-weight:bold;
}
footer>p>a{
	color: #FFF;
	text-decoration: none;
	font: 14px/0 Verdana,Arial;
	font-weight:bold;
}
fieldset
{
    border:1px solid;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}

.form_plat
{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
	font-family: Arial;
}

